In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("la_sales.sqlite")

## Extract from Data Source

In [2]:
#Create pandas data frame
sales_df = pd.read_csv("LA_Retail_Sales.csv")

sales_df.head()

,store_id,store_name,product_category,date,Unit sales,DOLLAR SALES,store_zip,promotion_flag
0,LA002,Store_2,Household,9/1/24,16.0,96.28,90004,True
1,LA001,Store_1,Beverages,9/1/24,14.0,86.63,90004,True
2,LA004,Store_4,Produce,9/15/24,18.0,298.26,90003,True
3,LA003,Store_3,Household,9/7/24,7.0,25.69,90001,True
4,LA008,Store_8,Beverages,9/18/24,25.0,85.46,90005,False